<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>RH Plus</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width"/>        
    <link rel="stylesheet" href="css/templatemo_main.css"/>
    <asp:ContentPlaceHolder id="head2" runat="server">
    </asp:ContentPlaceHolder>
<!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo">
                <h1>RH Plus</h1>
            </div>
        </div>
        <div class="navbar-right" style="text-align:right">
            <br />
            <a href="~/Login.aspx" data-toggle="modal" data-target="#confirmModal" runat="server" onserverclick="CerrarSesion_Click" style="text-align:right">Cerrar Sesión&nbsp;</a>
        </div>
    </div>
    <div class="template-page-wrapper">
        <div class="navbar-collapse collapse templatemo-sidebar">
            <ul class="templatemo-sidebar-menu">
                <li class="sub active">
                    <a href="javascript:;">
                        <i class="fa"></i>Configuración 
                        <div class="pull-right">
                            <span class="caret"></span>
                        </div>
                    </a>
                    <ul class="templatemo-submenu " runat="server" id="Configuracion">
                        <li id="GrupoEmpresarial" runat="server">
                            <a href="GrupoEmpresarial_Consulta.aspx">Grupo Empresarial</a>
                        </li>
                        <li id="Organizacion" runat="server">
                            <a href="Organizacion_Consulta.aspx">Organización</a>
                        </li>
                        <li id="Seccion" runat="server">
                            <a href="Seccion_Consulta2.aspx">Secciones</a>
                        </li>
                        <li id="Usuarios" runat="server">
                            <a href="Usuarios_Consulta.aspx">Usuarios</a>
                        </li>
                        <li id="Correo" runat="server">
                            <a href="Correo_Consulta.aspx">Correo</a>
                        </li>
                        <li id="Categoria" runat="server">
                            <a href="Categoria_Consulta.aspx">Categoría</a>
                        </li>
                        <li id="SubCategoria" runat="server">
                            <a href="SubCategoria_Consulta.aspx">Subcategoría</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="PerfilesPuesto_Consulta.aspx" id="PerfilesPuesto" runat="server"><i class="fa"></i>Pefiles de Puesto</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa"></i>Colaboradores
                    </a>
                </li>
                <li><a href="#">
                    <i class="fa"></i>Nómina
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Contratos</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Acciones Personal</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Requisicíón Personal</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Necesidades Personal</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Registros Capacitación</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Encuestas</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Evaluación</a>
                </li>
                <li>
                    <a href="#"><i class="fa"></i>Expedientes</a>
                </li>
                <li>
                    <a href="~/Login.aspx" data-toggle="modal" data-target="#confirmModal" runat="server" onserverclick="CerrarSesion_Click"><i class="fa"></i>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!--/.navbar-collapse -->
    <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
            <form id="form2" runat="server">
                <div>
                    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
                <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" />
            </form>
        </div>
    </div>

<!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea salir ?</h4>
                </div>
                <div class="modal-footer">
                    <a href="~/Login.aspx" class="btn btn-primary" runat="server" onserverclick="CerrarSesion_Click">Sí</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="templatemo-footer">
        <div class="templatemo-copyright">
            <p>Copyright &copy; 2018 Soluciones DS. V 1.5</p>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/templatemo_script.js"></script>

</body>
</html>