﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Errores.aspx.cs" Inherits="Errores_aspx" EnableEventValidation="false" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblMensaje" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Label ID="lblNumero" runat="server" Text="Label"></asp:Label>
</asp:Content>

