﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSU.master" AutoEventWireup="true" CodeFile="ErroresSU.aspx.cs" Inherits="ErroresSU" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head2" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblMensaje" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Label ID="lblNumero" runat="server" Text="Label"></asp:Label>
</asp:Content>

