﻿<%@ page title="" language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="Errores_aspx, App_Web_0h4t3dmx" enableeventvalidation="false" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblMensaje" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Label ID="lblNumero" runat="server" Text="Label"></asp:Label>
</asp:Content>

