﻿<%@ page title="" language="C#" masterpagefile="~/MasterPageSU.master" autoeventwireup="true" inherits="ErroresSU, App_Web_0h4t3dmx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head2" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="lblMensaje" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Label ID="lblNumero" runat="server" Text="Label"></asp:Label>
</asp:Content>

